<?xml version="1.0"?>
<launch>  
  
    <arg name="type" default="concentrationConfig"/>
    <arg name="pf" value="true"/>
    
    <arg name="mpsSensor" value="false"/>
    <arg name="moxSensor" value="false"/>
    <arg name="magSensor" value="true"/>
    
    <arg name="offboard" value="false"/>
    <arg name="cluster" value="false"/>
    <arg name="rvizPlot" value="true"/>
    <arg name="agents" value="1"/>

    <param name="runAlg" value="PF" type="string"/>
    <include file="$(find px4)/launch/gazebo_mavros.launch"/>

    <param name="gps_ref_latitude"  value="40.7690202426"  type="double"/>
    <param name="gps_ref_longitude" value="-111.847990795" type="double"/>
    <param name="gps_ref_altitude"  value="1293.40586"         type="double"/>
    <param name="gps_ref_is_init"   value="true"           type="bool"/>

    <!-- UAV1 FIX ME: put this group into separate launch with args to make clean launch files-->
    <group ns="uav1">
      <arg name="agent_num" value="1"/>      
      <include file="$(find px4)/launch/mavros_client_$(arg agent_num).launch">
      </include>
      
      <node pkg="target" type="off_brd" name="off_brd" output="log" if="$(arg offboard)">
	<param name="agent_number" value="$(arg agent_num)" type="int"/>
      </node>

      <node pkg="mavros_extras" type="copter_visualization" name="quad_vis" if="$(arg magSensor)" respawn="true">
	<param name="fixed_frame_id" value="/world" type="string"/>
	<param name="child_frame_id" value="/gps_receiver$(arg agent_num)" type="string"/>
	<param name="marker_scale" value="6" type="double"/>
    </node>

      <remap from="/uav$(arg agent_num)/agent_source_data" to="/agent_source_data"/>
      <remap from="/uav$(arg agent_num)/agent_home_data" to="/agent_home_data"/>
      <remap from="/uav$(arg agent_num)/agent_mps_data" to="/agent_mps_data"/>
      <remap from="/uav$(arg agent_num)/agent_local_data" to="/agent_local_data"/>
      <include file="$(find target)/launch/sensor.launch" if="$(arg mpsSensor)">
	<arg name="sName" value="mps"/>
	<arg name="type" value="$(arg type)"/>
	<arg name="agent_number" value="$(arg agent_num)"/>
	<arg name="topic_name" value="mps_data"/>
      </include>

      <include file="$(find target)/launch/sensor.launch" if="$(arg magSensor)">
	<arg name="sName" value="mag"/>
	<arg name="type" value="$(arg type)"/>
	<arg name="agent_number" value="$(arg agent_num)"/>
	<arg name="topic_name" value="mps_data"/>
      </include>


      <include file="$(find target)/launch/pf.launch" if="$(arg pf)">
	<arg name="type" value="$(arg type)"/>
	<arg name="agent_number" value="$(arg agent_num)"/>
	<arg name="agents" value="$(arg agents)"/>
	<arg name="log" value="screen"/>
      </include>

      <node pkg="geodetic_utils" type="gps_to_pose_conversion_node" name="geodetic" output="screen" respawn="true">
	<param name="tf_child_frame_id" value="gps_receiver$(arg agent_num)" type="str"/>
      </node>

      <include file="$(find target)/launch/cluster.launch" if="$(arg cluster)">
	<arg name="type" value="$(arg type)"/>
	<arg name="agent_number" value="$(arg agent_num)"/>
	<arg name="agents" value="$(arg agents)"/>
	<arg name="numHistory_targetCenter" value="5"/>
	<arg name="numHistory_desiredPose" value="20"/>
	<arg name="sim" value="true"/>
	<arg name="step" value="5"/>
	<arg name="log" value="log"/>
      </include>      
    </group>
    <node pkg="rviz" type="rviz" name="rviz" if="$(arg rvizPlot)" args="-d $(find target)/rviz/rviz_mag.rviz" respawn="true"/>    

    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot1" args="/uav1/mps_data/percentLEL /uav1/mps_data/temperature /uav1/mps_data/pressure"/>
    
</launch>
