<?xml version="1.0"?>
<launch>  
  
    <arg name="rvizPlot" value="true"/>


    <param name="gps_ref_latitude"  value="40.7690202426"  type="double"/>
    <param name="gps_ref_longitude" value="-111.847990795" type="double"/>
    <param name="gps_ref_altitude"  value="1293.40586"         type="double"/>
    <param name="gps_ref_is_init"   value="true"           type="bool"/>

    <!-- UAV1 FIX ME: put this group into separate launch with args to make clean launch files-->
      <arg name="agent_num" value="1"/>      
      <include file="$(find px4)/launch/mavros_posix_sitl.launch">
      </include>

      <node pkg="mavros_extras" type="copter_visualization" name="quad_vis" respawn="true">
	<param name="fixed_frame_id" value="/world" type="string"/>
	<param name="child_frame_id" value="/gps_receiver$(arg agent_num)" type="string"/>
	<param name="marker_scale" value="1" type="double"/>
      </node>

      <node pkg="geodetic_utils" type="gps_to_pose_conversion_node" name="geodetic" output="screen" respawn="true">
	<param name="tf_child_frame_id" value="gps_receiver$(arg agent_num)" type="str"/>
      </node>

      <include file="$(find target)/launch/octomap.launch">
	<arg name="AGENT_NUMBER" default="$(arg agent_num)"/>
	</include>

    <node pkg="rviz" type="rviz" name="rviz" if="$(arg rvizPlot)" args="-d $(find target)/rviz/rviz_octo.rviz" respawn="true"/>    
    
</launch>
